/* latin */
@font-face {
	font-family: 'Chewy';
	font-style: normal;
	font-weight: 400;
	src: local('Chewy'), url(https://fonts.gstatic.com/s/chewy/v7/rb3O4cUMVLYzfgbaJOdJHw.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin */
@font-face {
	font-family: 'Fredoka One';
	font-style: normal;
	font-weight: 400;
	src: local('Fredoka One'), local('FredokaOne-Regular'), url(https://fonts.gstatic.com/s/fredokaone/v4/SL0aFUFfkFMMdariYQ3_YY4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}



* {
	box-sizing: border-box;
	vertical-align: top;
}

body {
	background-color: #000;
	margin: 0;
	color: #fff;
	font-family: sans-serif;
	overflow: hidden;
}

div.row {

	div {
		width: 40px;
		height: 40px;
		display: inline-block;
	}
	.brick {
		background: rgba(0, 0, 0, 0) url("../img/wall_gray.png") repeat scroll 0 0;
		border-bottom: 8px solid transparent;
		border-image: url("../img/wall_gray_dark.png") 20 stretch;
		height: 48px;
		margin-top: -8px;
		position: relative;
		z-index: 9;
	}
	.egg {
		background: url("../img/egg.gif") no-repeat center;
	}
	.item {
		background-image: url("../img/wall_gray_dark.png");
		background-size: 40px 40px;

		img {
			top: 50%;
			left: 50%;
			margin-top: -8px;
			margin-left: -8px;
			position: relative;
			box-shadow: 0 0 5px 3px rgba(255,125,0,1);
			border-radius: 50%;
			width: 15px;
			height: auto;
		}
	}
	.bonus {
		background: url("../img/bonus.gif") no-repeat center;
	}
	.gap {
		background-color: rgba(0,0,0,0);
	}
	.empty {
		background-image: url("../img/wall_gray_dark.png");
		background-size: 40px 40px;
	}
}

.game {
	position: relative;
	margin: 135px auto 0;
	width: 1200px;
}

.game_title {
	position: absolute;
	margin: 0;
	top: -78px;
	font-size: 3rem;
	letter-spacing: 1.4px;
	font-family: 'Fredoka One', cursive;
	font-weight: 100;
	color: black;
	text-shadow: 0 0 5px rgba(0,0,0,0.5);

	&:before {
		content: "SnakeyMaze";
		background: linear-gradient(330deg, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%);
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		text-fill-color: transparent;
		position: absolute;
		text-shadow: none;
		left: 0;
	}

}

#world {
	display: inline-block;
}

#bgvid {
	min-width: 2000px;
	min-height: 1500px;
	position: absolute;
	margin-top: -160px;
	opacity: 0.7;
	margin-left: -200px;
}

#snake {
	top: 40px;
	left: 40px;

	img {
		width: 46px;
		height: auto;
		position: relative;
		top: -5px;
		left: -5px;
	}
}

#enemy {
	position: absolute;
	width: 40px;
	height: 40px;

	img {
		margin: auto;
		display: block;
		position: relative;
		top: -12px;
		z-index: 9;
	}

	&:after {
		content: " ";
		width: 28px;
		height: 15px;
		border-radius: 50%;
		display: block;
		bottom: 0;
		left: 0;
		margin-left: 6px;
		position: absolute;
		background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.58) 0%, rgba(0,0,0,0.58) 48%, rgba(0,0,0,0) 75%, rgba(0,0,0,0) 100%);
		background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.58) 0%,rgba(0,0,0,0.58) 48%,rgba(0,0,0,0) 75%,rgba(0,0,0,0) 100%);
		background: radial-gradient(ellipse at center, rgba(0,0,0,0.58) 0%,rgba(0,0,0,0.58) 48%,rgba(0,0,0,0) 75%,rgba(0,0,0,0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94000000', endColorstr='#00000000',GradientType=1 );
	}
}

.enemy_box {
	position: relative;

	img {
		margin: auto;
		display: block;
		position: relative;
		top: -12px;
		z-index: 9;
	}

	&:after {
		content: " ";
		width: 28px;
		height: 15px;
		border-radius: 50%;
		display: block;
		bottom: 0;
		left: 0;
		margin-left: 6px;
		position: absolute;
		background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.58) 0%, rgba(0,0,0,0.58) 48%, rgba(0,0,0,0) 75%, rgba(0,0,0,0) 100%);
		background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.58) 0%,rgba(0,0,0,0.58) 48%,rgba(0,0,0,0) 75%,rgba(0,0,0,0) 100%);
		background: radial-gradient(ellipse at center, rgba(0,0,0,0.58) 0%,rgba(0,0,0,0.58) 48%,rgba(0,0,0,0) 75%,rgba(0,0,0,0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94000000', endColorstr='#00000000',GradientType=1 );
	}
}

.segment,
#snake {
	border-radius: 50%;
	width: 36px;
	height: 36px;
	position: absolute;
	z-index: 0;
	margin-top: 1.5px;
	margin-left: 1.5px;
}

.segment {
	height: 26px;
	width: 26px;
	margin-top: 7px;
	margin-left: 7px;
	background-color: #00A388;
	box-shadow: inset 0 0 4px rgba(0,0,0,0.4);
}

.segment_box,
.enemy_box {
	background-image: url("../img/wall_gray_dark.png");
	background-size: 40px 40px;
}

.score {
	p {
		font-family: 'Fredoka One', cursive;
		font-size: 2rem;
		font-weight: 100;
	}
}




























